<div class="workflow-progress" ng-class="{close: ctrl.closed}">

<md-button class="md-icon-button md-warm expand-collapse">
  <md-icon ng-show="ctrl.closed" md-font-set="material-icons" ng-click="ctrl.closed = false">keyboard_arrow_down</md-icon>
  <md-icon ng-show="!ctrl.closed" md-font-set="material-icons" ng-click="ctrl.closed = true">keyboard_arrow_up</md-icon>
</md-button>

<!-- TODO
  When its close change the ol top position

  step 1 = style="top:0"
  step 2 = style="top:-54px"
  step 2 = style="top:-108px"
  etc... ad 54px per step
  
  Also:
  
  Lets add a first step with "Workorder Overview" and Workorder Summury at the end.
   
-->
  
<ol>
  <li ng-repeat="step in ctrl.steps" ng-class="{active: $index == ctrl.stepIndex, complete: $index < ctrl.stepIndex}">
    <span class="md-caption">{{$index + 1}}</span>{{ctrl.name}}
  </li>
</ol>

</div><!-- workflow-steps -->
